.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.dash {
    max-width: 800px;
    width: 100%;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
